h1{display:flex;
    font-size:50px;
    color:white;
    background-color:black;
    margin:0px;
    font-family: monospace;
    justify-content: center;}

h2{font-size:40px;}

.ini{padding:13px;
    background-image: url('../img/baixa.jpeg');
    color:white;
    font-family: monospace;
    font-size:30px;}

.ini h2{margin-top:0px;
    margin-bottom: 0px;}

.ini p{margin-top:0px;
    margin-bottom: 0px;}

nav a{border:1px solid white;
    color:white;
    text-decoration: none;
    font-family: monospace;
    font-size:20px;}

.hola{margin:0px;
    padding:20px;
    display:flex;
    background-color:black;
    flex-direction:row;
    justify-content: space-between;
    font-family: monospace; }

.animal section{border: 4px solid darkgrey;
    border-style: ridge;
    border-radius: 10px;
    background-color: lightyellow;
    font-size: 15px;
    margin-right:50px;
    margin-bottom:25px;}

ol li{width:500px;
    margin:0 auto;}

.animal p{display:flex;
    justify-content: center;}

.animal a{text-decoration:none;
    color:black;}

.animal img{display:block;
    margin:auto;}

.top{display:flex;
    justify-content:center;
    border: 4px solid darkgrey;
    border-style: ridge;
    border-radius: 10px;
    background-color: lightyellow;
    margin-top:0px;}

#ima{height:80px;
    grid-area:foto;}

ol p{border:5px solid darkgrey;
    border-style:outset;
    font-family: monospace;
    display:inline-block;
    vertial-align:top;}

ol img {border: 5px solid darkgrey;
    border-radius: 10px;
    border-style:ridge;}

footer{border:4px solid darkgrey;
    border-style:ridge;
    font-family: monospace;
    border-radius:10px;
    background-color:lightyellow;
    padding:10px;
    margin:50px;}

body{margin:0px;
    background-image: url('../img/shutterstock_55695574.jpg');
    background-size:cover;}

ul li{font-size:20px;
    font-family: monospace;}

p{font-size:20px;
    font-family: monospace;}

ol li{font-size:25px;
    font-family: monospace;}

.bi{grid-area:bio;}
.hula{grid-area:hul;}
.seg{grid-area:seg;}
.hop{grid-area:hoop;}

.animal li{display:flex;
    justify-content: center;}

#container{display: grid;
    grid-template-columns:auto;
    grid-template-areas:
     "bio seg"
     "hul hoop";}
.animal{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 1400px) {
  h1{font-size:25px;}
  nav a{font-size:10px;}
h2{font-size:20px;}
  .ini{font-size:10px;}
  ul li{font-size:15px;}
  p{font-size:15px;}
  ol li{font-size:15px;}
  .animal{font-size:8px;}
  #ima{height:35px;}
  .animal img{width:200px;
      height:200px;}
  .animal{display:flex;
      flex-direction: column;}
}

/*
float:left;
left:50%;
margin:0 auto;
padding:0;
position:relative;
*/
